html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ddd8d825;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button::-moz-focus-inner {
  border: none;
}

body {
  margin: 0 auto;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px; 

}

:focus {
  outline: 0;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}